<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>HelloBooks</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./helloadmin.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body style="overflow-x:hidden; overflow-y:auto;">
  <div class="row">
          <div class="col m10 l10 s12 right" style="padding:0px;">
            <div class="navbar-fixed">
                  <nav class="mainNav black col m10 l10" role="navigation">
                    <div class="nav-wrapper container"><a id="logo-container" href="admin.html" class="brand-logo mainLogo"><img src="./imgs/hello.png" alt="hellobooks"></a>
                      <ul class="user hide-on-small-and-down show-on-medium-and-up">
                        <a class='dropdown-button btn black btn-prof' href='#' data-activates='dropdown1'><i class="material-icons mat-icon right" style="margin-left: 1%;">arrow_drop_down</i>Zachang</a>
                      </ul>

                      <ul id='dropdown1' class='dropdown-content' hide-on-small-and-down>
                        <li><a href="profile.html">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">View Users</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Remove Admin</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Logout</a></li>
                      </ul><!--profile drop-->

                      <ul id="nav-mobile" class="side-nav grey darken-4 hide-on-med-and-up">
                        <li><div class="row walp">
                        </div></li>
                          <li><a href="profile.html">Profile</a></li>
                          <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                              <li>
                                <a class="collapsible-header">Books Shelf<i class="material-icons mat-icon">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                  <ul>
                                    <li><a href="admin.html">All Books</a></li>
                                    <li><a href="#">Add Books</a></li>
                                    <li><a href="./borrowedbooks.html">Borrowed Books</a></li>
                                    <li><a href="./returnedbook.html">Returned Books</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                              <li>
                                <a class="collapsible-header">Book Categories<i class="material-icons mat-icon">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                  <ul>
                                    <li><a href="#">Computer Programming</a></li>
                                    <li><a href="#">Eentertainment</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Travel</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                              <li>
                                <a class="collapsible-header">Permissions<i class="material-icons mat-icon">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                  <ul>
                                    <li><a href="#">Add Books</a></li>
                                    <li><a href="#">Add Admin</a></li>
                                    <li><a href="#">Remove Admin</a></li>
                                    <li><a href="#">Block User</a></li>
                                    <li><a href="#">Unblock User</a></li>
                                    <li><a href="#">Upgrade User</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">Logout</a></li>
                      </ul>
                      <a href="#" data-activates="nav-mobile" class="button-collapse menu-icon-link"><i class="material-icons hide-on-med-and-up">menu</i></a>
                    </div>
                  </nav>
              </div>
          </div><!--End Nav-->

          <div class="side col m2 l2 hide-on-small-and-down nav-pan">
            <div class="col m2 l2 grey darken-4 addPad nav-pan-child">
              <div class="row walp">
                  <div class="">
                    <img src="./imgs/eben2.jpg" style="width: 100px; height:100px; margin: 22% 0% 0% 26%; box-shadow: 2px 1px 20px #000;" alt="" class="circle responsive-img">
                  </div>
              </div>
              <div class="row dash">
                  <span><i class="material-icons" style="margin:10% 0% 10% 0%;">dashboard</i>Dashboard</span>
              </div>

              <div class="row rowcollap">
                <ul>
                  <li><a href="profile.html">Profile</a></li>
                  <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <a class="collapsible-header">Books Shelf<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="admin.html">All Books</a></li>
                            <li><a href="#">Add Books</a></li>
                            <li><a href="./borrowedbooks.html">Borrowed Books</a></li>
                            <li><a href="./returnedbook.html">Returned Books</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <a class="collapsible-header">Book Categories<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="#">Computer Programming</a></li>
                            <li><a href="#">Eentertainment</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Travel</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                      <li>
                        <a class="collapsible-header">Permissions<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                          <ul
                            <li><a href="#">Add Books</a></li>
                            <li><a href="#">Add Admin</a></li>
                            <li><a href="#">Remove Admin</a></li>
                            <li><a href="#">Block User</a></li>
                            <li><a href="#">Unblock User</a></li>
                            <li><a href="#">Upgrade User</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </div>

            </div>

          </div><!--end sidebar-->

          <div class="container mainCon" style="margin-left:5%;">
            <div class="row">
                <div class="col s10 m8 l6 bookadd" style="margin-left:35%; margin-top:4%;">

                  <div class="row">
                    <form class="col s10">
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="book_name" type="text" class="validate">
                          <label for="book_name">Book Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="author" type="text" class="validate">
                          <label for="author">Author</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="publish_year" type="text" class="datepicker">
                          <label for="publish_year">Publish Year</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="isbn" type="text" class="validate">
                          <label for="isbn">ISBN</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <input id="pages" type="number" class="validate">
                          <label for="pages">Pages</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <textarea id="description" class="materialize-textarea"></textarea>
                          <label for="description">Description</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s10">
                          <select>
                            <option value="" disabled selected>Select</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                          <label>Choose Category</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="count" type="number">
                          <label for="count">Add Count</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="file-field input-field col s10">
                          <div class="btn">
                            <span>Add Image</span>
                            <input type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                      </div>
                      <a class="waves-effect waves-light btn col s12">Add Book</a>
                    </form>
                  </div>


                  </div>

            </div><!--end row-->

          </div><!--end mainCon-->
    </div>


<!--  Scripts-->
  <script src="materialize/js/jquery.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/init.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){

      $(".menu-icon-link").click(function(){
        $("body").css({"width": "100%", "overflow-y": "auto"});
      });

      $(document).ready(function() {
        $('select').material_select();
      });

      $('.datepicker').pickadate({
       selectMonths: true,
       selectYears: 15,
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: false
     });

  });

  </script>
  </body>
</html>
