<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>HelloBooks</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./hellobooks.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<div class="row main-row main-div">
    <div class="navbar-fixed">
          <nav class="mainNav transparent" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo mainLogo">HelloBooks</a>
              <ul class="right hide-on-small-and-down">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#" class="btn-large waves-effect waves-light orange join-us">Join us</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                  <li><a href="#">Navbar Link</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#" class="btn-large waves-effect waves-light orange" style="margin:0px; padding:0px;">Join us</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons hide-on-med-only">menu</i></a>
            </div>
          </nav>
      </div> <!--End Nav-->

      <div class="section no-pad-bot" id="index-banner">
        <div class="container textContent">
          <div class="row">
            <div class="col s12 l5 m5 statement">
                  <br><br>
                  <h1 class="header center orange-text">Welcome!</h1>
                  <div class="row center">
                    <h5 class="header col s12 light">Learning is never ending and Knowledge is key. So in light of this, we at HelloBooks aim to provide you with all necessary resource needed to expand your mind. Feel free to go through our library.</h5>
                  </div>
                  <div class="row center">
                    <a href="#" class="btn-large waves-effect waves-light orange">More...</a>
                  </div>
                  <br><br>
              </div>

              <div class="col l5 m5 hide-on-small-and-down right loginContent">
                    <br><br>
                    <form class="col s12">
                        <div class="row">
                        <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        </div>
                        </div>

                        <div class="row">
                        <div class="input-field col s12">
                        <input id="pass" type="password" class="validate">
                        <label for="pass" data-error="wrong" data-success="right">Password</label>
                        </div>
                        </div>

                        <div class="row">
                        <div class="col s12">
                        <p>
                            <input type="checkbox" id="remember">
                            <label for="remember">Remember me</label>
                            <a href="#" class="right" style="color:#FF9800">Forgot password</a>
                        </p>
                        </div>
                        </div>

                        <div class="row">
                        <div class="col m12">
                        <p class="right-align">
                            <button class="btn btn-large waves-effect waves-light orange" type="button" name="action">Login</button>
                        </p>
                        </div>
                        </div>
                    </form>
                    <br><br>
              </div><!--End loginContent-->

              <div class="col l8 m8  offset-m2 offset-l2 hide-on-small-and-down regContent">
                    <br><br>
                    <form class="col s12">
                        <div class="row">
                        <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        </div>
                        </div>

                        <div class="row">
                        <div class="input-field col s12">
                        <input id="phone" type="number" class="validate">
                        <label for="phone">Phone Number</label>
                        </div>
                        </div>

                        <div class="row">
                        <div class="input-field col s12">
                        <input id="pass" type="password" class="validate">
                        <label for="pass" data-error="wrong" data-success="right">Password</label>
                        </div>
                        </div>

                        <div class="row">
                        <div class="input-field col s12">
                        <input id="pass-confirm" type="password" class="validate">
                        <label for="confirm pass" data-error="wrong" data-success="right">Confirm Password</label>
                        </div>
                        </div>


                        <div class="row">
                        <div class="col m12">
                        <p class="right-align">
                            <button class="col m12 btn btn-large waves-effect waves-light orange" type="button" name="action">Sign Up</button>
                        </p>
                        </div>
                        </div>
                    </form>
                    <br><br>
              </div><!--End regContent-->
          </div>
        </div>

      </div>
</div><!--End main-->

<div class="container mainCon">
    <div class="row">
        <div class="section">
            <h4>Books</h4>
        </div>
        <div class="divider"></div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book6.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book3.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book5.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book1.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book5.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book3.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book6.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book5.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book6.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>

        <div class="col l3 s12 m6">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./imgs/book4.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action home-card"><a href="#index-banner">Borrow</a><a href="#" class="right">Read</a></div>
            </div>
        </div>
    </div>

</div><!--End mainCon-->

<!--  Scripts-->
  <script src="materialize/js/jquery.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/init.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    window.addEventListener('scroll', function (e) {
        var nav = document.querySelector('nav');
        if (document.documentElement.scrollTop || document.body.scrollTop > (window.innerHeight>0)) {
                nav.classList.add('black');
                nav.classList.remove('transparent');
            } else {
                nav.classList.add('transparent');
                nav.classList.remove('black');
            }
    });

    $(".join-us").click(function(){
      $('.statement').toggle("slow");
      $('.loginContent').toggle("slow");
      $('.regContent').show("slow");
    });
  });
  </script>
  </body>
</html>
